.product-placeholder {
    display: grid;
    width: 110px;
    grid-gap: 4px;
    grid-template-rows: 159px 60px 20px 20px;
}

.product-placeholder > * {
    background-color: #DEDEDE;
    animation: productPlaceholderGlow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    will-change: transform;
}

@keyframes productPlaceholderGlow {
    0% {
        opacity: .5;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: .5;
    }
}

@media (min-width: 768px) {
    .product-placeholder {
        width: 200px;
        grid-template-rows: 340px 60px 20px 20px;
    }
}