.container {
    display: block;
    width: 100%;
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.container--no-padding {
    padding-left: 0px;
    padding-right: 0px;
}