.catalogue-view__filter-btn {
    display: flex;
    font-size: 14px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

.catalogue-view__filter-btn__icon {
    height: 15px;
    margin-right: 8px;
}

.catalogue-view__aside {
    display: none;
    border-right: solid thin #DEDEDE;
    padding-top: 16px;
    padding-bottom: 16px;
}

.catalogue-view__main {
    padding-top: 16px;
    padding-bottom: 16px;
}

.catalogue-view__product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

.catalogue-view__product {
    display: flex;
    justify-content: center;
}

@media (min-width: 375px) {
    .catalogue-view__product-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        grid-row-gap: 16px;
    }
}

@media (min-width: 640px) {
    .catalogue-view__product-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        grid-row-gap: auto;
    }
}

@media (min-width: 768px) {
    .catalogue-view__product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .catalogue-view__filter-btn {
        display: none;
    }

    .catalogue-view__skeleton {
        display: grid;
        grid-template-columns: 304px auto;
        grid-gap: 16px;
    }

    .catalogue-view__aside {
        display: block;
    }
}